<head><%= javascript_pack_tag 'recipe-swiper-bundle' %> </head>
<body>
<%= render 'shared/popup' %>
<div class="flex justify-center items-center" style="min-height: 85vh">
  <div class="container mx-auto px-4">
    <h1 class="text-xl text-pink-500 mt-4" style="text-align: center">What do you fancy cooking today?</h1>
    <%= react_component("RecipeSwiper", {props: @props, className: "w-full max-w-sm rounded-xl px-4", prerender: false}) %>
  </div>
</div>
</body>
