@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.text-brand-green {
  color: #496F5D;
}

.text-brand-orange {
  color: #F26D3D;
}

.bg-brand-orange {
  background-color: #F26D3D;
}

.bg-brand-green {
  background-color: #496F5D;;
}
